.container{
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: auto;
    margin-top: 70px;
}

.right-col{
    width: 75%;
    display: flex;
    background: yellow;
    justify-content: space-around;
}

.left-col{
    width: 25%;
    display: flex;
    background: purple;
    flex-wrap: wrap;
    justify-content: space-around;
}



.row{
    background: papayawhip;
    width: 100%;
}

.add-input{
    width: 100%;
    background: orange;
    display: flex;
    justify-content: center;
}

.add-buttons{
    width: 100%;
    display: flex;

}

.button-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.js-gifs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

