.container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    background: pink;
    margin: auto;
}

.gifs{
    width: 70%;
    display: flex;
    background: yellow;
}

.buttons{
    width: 25%;
    display: flex;
    background: purple;
    flex-wrap: wrap;
    justify-content: space-around;


}

.newInput{
    width: 100%;
    background: orange;


}
.button-section{
    width: 100%;
    justify-content: space-around;
    background: green;

}
.js-gifs{
    display: flex;
    flex-wrap: wrap;
}

